<p>add-user works!</p>
<div class="container" style="background-color: rgba(240, 240, 240, 0.075);">
  <form #form="ngForm">
<!--INPUTFIELD-->
      <mat-form-field class="form-group" appearance="standard">
          <p>First Name</p>
          <input matInput id="firstName" name="firstName" class="form-control" ngModel placeholder="For Example German">
      </mat-form-field>
      <mat-form-field appearance="standard">
          <p>Sur Name</p>
          <input matInput id="surName" name="surName" class="form-control" ngModel placeholder="For Example Deutsch">
      </mat-form-field>
      <mat-form-field appearance="standard">
          <p>Email</p>
          <input matInput id="email" name="email" class="form-control" ngModel placeholder="For Example de">
      </mat-form-field>
      <mat-form-field appearance="standard">
        <p>Skill</p>
        <input matInput id="skill" name="skill" class="form-control" ngModel placeholder="For Example de">
    </mat-form-field>
      <mat-form-field appearance="standard">
      <p>Language</p>
      <input matInput id="language" name="language" ngModel placeholder="For Example de">
      </mat-form-field>
      <mat-form-field appearance="standard">
        <p>Team</p>
        <input matInput id="team" name="team" class="form-control" ngModel placeholder="For Example de">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <p>Department</p>
      <input matInput id="department" name="department" class="form-control" ngModel placeholder="For Example de">
  </mat-form-field>

<!--SENDBUTTON-->
      <button mat-fab color="warn" (click)="clickAdd(form.value.surName, form.value.firstName, form.value.email, form.value.department, form.value.team, form.value.skill, form.value.language, form.value.imageUrl)">+</button>
<!--back button-->
      <app-go-back-button></app-go-back-button>
