<mat-toolbar color="primary" class="mat-elevation-z8 mat-elevation-z8 toolbar">
  <mat-toolbar-row>
    <div class="col-sm">
      <div class='adminOnly'>

        <button mat-button color="basic" aria-label="Example icon button with a home icon"
          (click)="goTo('skillmatrix/skills')">
          Skills
        </button>

        <button mat-button color="basic" aria-label="Example icon button with a home icon"
          (click)="goTo('skillmatrix/languages')">
          Languages
        </button>

        <button mat-button color="basic"
              (click)="goTo('skillmatrix/categories')">
              Categories
            </button>

      </div>
    </div>
    <div class="col-sm d-flex justify-content-end">
      <button mat-button color="basic"
      (click)="goTo('skillmatrix/members')">Home</button>
      <button mat-icon-button color="basic" aria-label="Example icon button with a home icon">
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
