<p>
  <mat-toolbar color="primary">
    <div class="container-fluid">
      <div class="row">
        <div class="col-11">
          <div class='adminOnly'>
            <button mat-raised-button>
              Skills
            </button>
            <button mat-button mat-raised-button
              (click)="goTo('skillmatrix/languages')">
              Languages
            </button>
            <button mat-button mat-raised-button
              (click)="goTo('skillmatrix/categories')">
              Categories
            </button>
          </div>
        </div>
        <div class="col-1">
          <button mat-raised-button (click)="goTo('')">Home</button>
          <button mat-icon-button aria-label="Example icon button with a home icon">
            <mat-icon>account_circle</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-toolbar>
</p>
