<app-submenu [pageTitle]=pageTitle></app-submenu>
<div class="container">
    <form #form="ngForm">
<!--INPUTFIELD-->
        <mat-card>
            <div class='row d-flex justify-content-center'>
                <mat-form-field class="form-group" appearance="standard">
                    <p>Language Name</p>
                    <input matInput id="name" name="name" class="form-control" ngModel placeholder="{{language.name}}">
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <p>Language Name (native)</p>
                    <input matInput id="native" name="native" class="form-control" ngModel placeholder="{{language.nativeName}}">
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <p>Language Code</p>
                    <input matInput id="code" name="code" class="form-control" ngModel placeholder="{{language.code}}">
                </mat-form-field>
            </div> 
        </mat-card>
<!--CANCELBUTTON-->
        <app-go-back-button></app-go-back-button>
<!--SENDBUTTON-->
        <button mat-fab color="primary" (click)="clickAdd(languages.length, form.value.name, form.value.native, form.value.code, languageToEdit)"><mat-icon>add</mat-icon></button>
    </form>
</div>