<app-submenu pageTitle="Languages List"></app-submenu>
<!--HEAD-->
<div class="container" style="background-color: white;">
<!--ADD LANGUAGE-->
  <p>
    <mat-toolbar style="background-color: white;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-11"> 
            <button mat-fab color="primary" (click)="goTo('skillmatrix/language/add', 'default')"><mat-icon>add</mat-icon></button>
            Add Language
          </div>
        </div>
      </div>
    </mat-toolbar>
  </p>
<!--SEARCHBAR-->
  <div>
    <input type='text' [(ngModel)]='listFilter' placeholder="search"/>
    <h4>Filtered by: {{listFilter}}</h4>
  </div>
<!--PAGINATOR-->
  <mat-paginator [length]="this.filteredLanguages.length"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="onPageChange($event)"
    aria-label="Select page">
  </mat-paginator>
<!--SEARCHRESULT-->
  <mat-selection-list #languageSelected [multiple]="false">
    <mat-list-option *ngFor="let language of pageSlice" [value]="language">
      <div class="row">
        <div class="col-11">
          {{language.name}} ({{language.nativeName}})
        </div>
        <div class="col-sm-1">
          <button mat-icon-button color="primary" aria-label="Go to edit screen" (click)="goTo('skillmatrix/language/add', language.name)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" aria-label="Delete Language" (click)="onDeleteClick(language.name)">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </div>
      <mat-divider></mat-divider>
    </mat-list-option>
  </mat-selection-list>
</div>





  