<div>
    <h1>Languages</h1>
</div>
<div>
    <table *ngIf='languages.length'>
        <thead>
            <tr>
                <th>
                    
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let language of languages'>
                <td>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        {{language}}
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                          <span>edit</span>
                        </button>
                        <button mat-menu-item>
                          <span>delete</span>
                        </button>
                    </mat-menu>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p></p>
<form>
    <div>
        <button mat-fab color="warn" routerLink="/skillmatrix/addLanguage">+</button>
        <p>Add Language</p>
    </div>
</form>
