<app-submenu pageTitle="Languages List"></app-submenu>
<!--HEAD-->
<div class="container" style="background-color: white;">
  <div class="container">
    <div class="row align-middle">
      <div class="col-sm-1">
        <button mat-fab color="primary" (click)="goTo('skillmatrix/language/add', 'default')"><mat-icon>add</mat-icon></button>
      </div>
      <div class="col-md">
        <mat-form-field appearance="standard">
          <input matInput type='text' [(ngModel)]='listFilter' placeholder="search"/>
        </mat-form-field>
      </div>
    </div>
  </div>
<!--PAGINATOR-->
  <mat-paginator [length]="this.filteredLanguages.length"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="onPageChange($event)"
    aria-label="Select page">
  </mat-paginator>
<!--SEARCHRESULT-->
  <mat-selection-list #languageSelected [multiple]="false">
    <mat-list-option *ngFor="let language of pageSlice" [value]="language">
      <div class="row">
        <div class="col-11">
          {{language.name}} ({{language.nativeName}})
        </div>
        <div class="col-sm-1">
          <button mat-icon-button color="primary" aria-label="Go to edit screen" (click)="goTo('skillmatrix/language/add', language.name)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" aria-label="Delete Language" (click)="onDeleteClick(language.name)">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </div>
      <mat-divider></mat-divider>
    </mat-list-option>
  </mat-selection-list>
</div>





  