<app-submenu pageTitle={{pageTitle}}></app-submenu>

<div class="container">
    <div class="row">
        <div class="col-10 offset-1">
            <div class="row">

                <div class="col-lg-4 col-sm-10 offset-sm-1">

                    <mat-card>
                        <div class="row">
                            <img [src]="profilePic" class="rounded-full img-fluid">
                            <input type="file" class="fileInput">
                        </div>
                    </mat-card>

                    <mat-card class="h-64">
                        <mat-form-field appearance="fill">
                            <mat-label>Favorite Quote</mat-label>
                            <textarea matInput placeholder="Not all who wander are lost."
                                class="h-48 w-40 justify-center"></textarea>
                        </mat-form-field>
                    </mat-card>


                </div>

                <div class="col-lg-6 col-sm-12">
                    <mat-card>
                        <div class="row">
                            <form [formGroup]="profileForm">
                                <div class="row">
                                    <mat-form-field appearance="fill">
                                        <mat-label>First Name</mat-label>
                                        <input formControlName="firstname" matInput>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill">
                                        <mat-label>Surname</mat-label>
                                        <input formControlName="surname" matInput>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill">
                                        <mat-label>Job Title</mat-label>
                                        <input formControlName="jobTitle" matInput>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill">
                                        <mat-label>Team</mat-label>
                                        <input formControlName="team" matInput>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill">
                                        <mat-label>Department</mat-label>
                                        <input formControlName="department" matInput>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill">
                                        <mat-label>Location</mat-label>
                                        <input formControlName="location" matInput>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill">
                                        <mat-label>Email</mat-label>
                                        <input formControlName="email" matInput>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill">
                                        <mat-label>Phone</mat-label>
                                        <input formControlName="phone" matInput>
                                    </mat-form-field>

                                </div>
                            </form>

                        </div>
                    </mat-card>
                </div>

                <div class="col 12">
                    <mat-card>

                        <form [formGroup]="profileForm">
                            <div class="row">
                                <app-add-button class="col-2" (click)="addLanguage()"></app-add-button>
                                <div class="col-10">
                                    <div formArrayName="languages"
                                        *ngFor="let language of languages.controls; let i=index">
                                        <div [formGroupName]="i" class="row">


                                            <mat-form-field appearance="fill" class="col-4">
                                                <mat-label attr.for="{{ 'languageId' + i}}">Language</mat-label>
                                                <input matInput formControlName="language" id="{{ 'languageId' + i}}">
                                            </mat-form-field>

                                            <mat-form-field appearance="fill" class="col-4">
                                                <mat-label attr.for="{{ 'proficiencyId' + i}}">Proficiency</mat-label>
                                                <input matInput formControlName="proficiency"
                                                    id="{{ 'proficiencyId' + i}}">
                                            </mat-form-field>

                                            <div *ngIf="i > 0" class="col-2">
                                                <app-remove-button (click)="removeLanguage(i)"></app-remove-button>
                                            </div>

                                        </div>
                                    </div>

                                </div>


                            </div>

                        </form>

                    </mat-card>

                    <div class="col 12">
                        <mat-card>

                            <form [formGroup]="profileForm">
                                <div class="row">
                                    <app-add-button class="col-2" (click)="addSkill()"></app-add-button>
                                    <div class="col-10">
                                        <div formArrayName="skills" *ngFor="let skill of skills.controls; let i=index">
                                            <div [formGroupName]="i" class="row">

                                                <mat-form-field appearance="fill" class="col-3">
                                                    <mat-label>Choose a Category</mat-label>
                                                    <mat-select>
                                                        <mat-option value="option1">Frontend</mat-option>
                                                        <mat-option value="option2">Backend</mat-option>
                                                        <mat-option value="option3">Databases</mat-option>
                                                    </mat-select>
                                                </mat-form-field>

                                                <mat-form-field appearance="fill" class="col-3">
                                                    <mat-label>Choose a skill</mat-label>
                                                    <mat-select>
                                                        <mat-option value="option1">Angular</mat-option>
                                                        <mat-option value="option2">C#</mat-option>
                                                        <mat-option value="option3">SQL</mat-option>
                                                    </mat-select>
                                                </mat-form-field>

                                                <mat-form-field appearance="fill" class="col-3">
                                                    <mat-label>Choose a proficiency</mat-label>
                                                    <mat-select>
                                                        <mat-option value="option1">Beginner</mat-option>
                                                        <mat-option value="option2">Intermediate</mat-option>
                                                        <mat-option value="option3">Advanced</mat-option>
                                                    </mat-select>
                                                </mat-form-field>

                                                <div *ngIf="i > 0" class="col-2">
                                                    <app-remove-button (click)="removeSkill(i)"></app-remove-button>
                                                </div>

                                            </div>



                                        </div>

                                    </div>


                                </div>

                            </form>

                        </mat-card>


                        <!-- <ul name="categoriesList" *ngFor="let category of categoriesList; let i=index">
             <li id='i'>
              <mat-card >
                <div formArrayName="{{category}}" *ngFor="let skills of category; let i=index">
                  <div [formGroupName]="i" class="row">


                    <mat-form-field appearance="fill" class="col-4">
                      <mat-label attr.for="{{ 'skillId' + i}}">Language</mat-label>
                      <input matInput formControlName="skill"
                      id="{{ 'languageId' + i}}">
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="col-4">
                      <mat-label attr.for="{{ 'proficiencyId' + i}}">Proficiency</mat-label>
                      <input matInput formControlName="proficiency"
                      id="{{ 'proficiencyId' + i}}">
                    </mat-form-field>

                    <div *ngIf="i > 0" class="col-2">
                       <app-remove-button (click)="removeLanguage(i)"></app-remove-button>
                    </div>
                  </div>
                </div>
              </mat-card>
             </li>
           </ul> -->

                    </div>
                </div>
            </div>
        </div>
    </div>