<app-submenu [pageTitle]=pageTitle></app-submenu>
<div class="container">
    <form [formGroup]="languageForm">
<!--INPUTFIELD-->
        <mat-card>
            <div class='row d-flex justify-content-center'>
                <mat-form-field class="form-group" appearance="fill">
                    <p>Language Name</p>
                    <input formControlName="name" matInput>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <p>Language Name (native)</p>
                    <input formControlName="nativeName" matInput>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <p>Language Code</p>
                    <input formControlName="code" matInput>
                </mat-form-field>
            </div> 
        </mat-card>
<!--CANCELBUTTON-->
        <app-go-back-button></app-go-back-button>
<!--SENDBUTTON-->
        <button mat-fab color="primary" (click)="saveLanguage()"><mat-icon>add</mat-icon></button>
    </form>
</div>