<app-submenu [pageTitle]=pageTitle></app-submenu>
<div class="container" >
  <form [formGroup]="userForm">
<!--INPUTFIELD-->

<mat-card>
  <div class='row d-flex justify-content-center'>
      <mat-form-field class="form-group" appearance="fill">
          <p>firstName</p>
          <input formControlName="firstName" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
          <p>surName</p>
          <input formControlName="surName" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
          <p>email</p>
          <input formControlName="email" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <p>department</p>
        <input formControlName="department" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <p>team</p>
        <input formControlName="team" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <p>skill</p>
        <input formControlName="skill" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <p>language</p>
        <input formControlName="language" matInput>
    </mat-form-field>
  </div>
</mat-card>

<!--CANCELBUTTON-->
<app-go-back-button></app-go-back-button>
<!--SENDBUTTON-->
        <button mat-fab color="primary" (click)="saveUser()"><mat-icon>add</mat-icon></button>
    </form>
</div>
