button {
  margin: 10px;
}

/* Structure */
table {
  width: 80%;
  margin: auto;
}

.searchField {
  width: 80%;
  margin:auto;
  padding-left: 250px;
}

.nameField {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

