<app-submenu pageTitle="Add new Category"></app-submenu>

<br>
<br>
<br>
<div class="container row d-flex justify-content-center">

  <mat-form-field appearance="fill" class="formField">
    <mat-label>Enter your category</mat-label>
    <input matInput placeholder="People Skills" required
    [formControl]="categoryForm">
  </mat-form-field>


  <div class="">
    <div class="container">
      <div class="row">
        <div class="col">
          <button mat-raised-button color="primary" (click)="saveCategory()">Add Category</button>
        </div>
        <div class="col">
          <button mat-raised-button color="warn" (click)="goTo('skillmatrix/categories')">Discard</button>
        </div>
      </div>
  </div>
</div>
