<app-submenu pageTitle="Your Profile"></app-submenu>

<div class="grid place-items-center min-h-screen">
     <div class="lg:max-w-5xl sm:max-w-lg grid gap-10 sm:grid-cols-1 lg:grid-cols-2">

            <div class="portraitCard m-3">
              <mat-card>
                  <img [src]="profilePic" class="rounded-full img-fluid">
                  <input type="file" class="fileInput">
                </mat-card>
            </div>

           <div class="personalInfoCard lg:row-start-2">

                <form [formGroup]="profileForm">

                        <mat-card class="mb-2">
                          <mat-form-field appearance="fill" class="m-1">
                            <mat-label>First Name</mat-label>
                            <input formControlName="firstname" matInput>
                        </mat-form-field>

                          <mat-form-field appearance="fill" class="m-1">
                              <mat-label>Surname</mat-label>
                              <input formControlName="surname" matInput>
                          </mat-form-field>
                        </mat-card>

                        <mat-card>
                          <mat-form-field appearance="fill" class="m-1">
                            <mat-label>Email</mat-label>
                            <input formControlName="email" matInput>
                          </mat-form-field>

                          <mat-form-field appearance="fill" class="m-1">
                            <mat-label>Phone</mat-label>
                            <input formControlName="phone" matInput>
                          </mat-form-field>
                         </mat-card>

                 </form>
          </div>




         <div class="jobInfoCard lg:row-start-2">

          <mat-card class="h-full">
            <form [formGroup]="profileForm">
                        <mat-form-field appearance="fill" class="m-1">
                          <mat-label>Job Title</mat-label>
                          <input formControlName="jobTitle" matInput>
                        </mat-form-field>

                      <mat-form-field appearance="fill" class="m-1">
                        <mat-label>Team</mat-label>
                        <input formControlName="team" matInput>
                      </mat-form-field>

                      <mat-form-field appearance="fill" class="m-1">
                        <mat-label>Department</mat-label>
                        <input formControlName="department" matInput>
                      </mat-form-field>

                      <mat-form-field appearance="fill" class="m-1">
                        <mat-label>Location</mat-label>
                        <input formControlName="location" matInput>
                      </mat-form-field>
            </form>

          </mat-card>
         </div>


         <div class="attrCol lg:row-start-3 lg:col-span-2">

           <div class="languagesCard mb-2">
            <mat-card>

              <form [formGroup]="profileForm">
                <div formArrayName="languages" *ngFor="let language of formLanguages.controls; let i=index">
                  <div [formGroupName]="i" class="grid grid-cols-12">

                      <div class="col-span-1 mx-3" *ngIf="i === 0">
                        <app-add-button (click)="addFormLanguage()"></app-add-button>
                      </div>

                      <div class="col-span-4 col-start-3 mx-2">

                        <mat-form-field appearance="fill">
                          <mat-label>Language</mat-label>
                          <input type="text"
                                 matInput
                                 [matAutocomplete]="auto"
                                 [formControl]="myControl"
                                [matAutocomplete]="auto">
                          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                              {{option}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>

                      </div>

                      <div  class="col-span-4">

                      </div>

                      <div *ngIf="i > 0" class="col-span-1 col-start-11 mx-4">
                        <app-remove-button (click)="removeFormLanguage(i)"></app-remove-button>
                     </div>
                    </div>
                  </div>
              </form>

            </mat-card>
           </div>

           <div class="skillsCard">
            <mat-card>

              <form [formGroup]="profileForm">
                    <div formArrayName="skills" *ngFor="let skill of formSkills.controls; let i=index">
                      <div [formGroupName]="i" class="grid grid-cols-12">

                        <div class="col-span-1 mx-3" *ngIf="i === 0">
                          <app-add-button (click)="addFormSkill()" ></app-add-button>
                        </div>

                        <mat-form-field appearance="fill" class="col-span-4 col-start-3 mx-2">
                          <mat-label>Skill</mat-label>
                          <mat-select>
                            <mat-option value="option1">Angular</mat-option>
                            <mat-option value="option2" >C#</mat-option>
                            <mat-option value="option3">SQL</mat-option>
                          </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="col-span-4">
                          <mat-label>Proficiency</mat-label>
                          <mat-select>
                            <mat-option value="option1">Beginner</mat-option>
                            <mat-option value="option2" >Intermediate</mat-option>
                            <mat-option value="option3">Advanced</mat-option>
                          </mat-select>
                        </mat-form-field>

                        <div *ngIf="i > 0" class="col-span-1 col-start-11 mx-4">
                           <app-remove-button (click)="removeFormSkill(i)"></app-remove-button>
                        </div>

                      </div>
                    </div>
              </form>

            </mat-card>



         </div>

         <div class="buttonsCard mt-2" class="grid grid-cols-12">
          <div class="col-start-9 mt-4">
            <button mat-raised-button color="primary">Submit</button>
          </div>
        </div>
       </div>
     </div>
   </div>
