<section>
  <nav>
    <h1>{{title}}</h1>
    <ul>
      <li><a class='nav-link' routerLink='/skillmatrix/welcome'>Home</a></li>
      <li><a class='nav-link' routerLink='/skillmatrix/welcome'>Member List</a></li>
      <li><a class='nav-link' routerLink='/skillmatrix/welcome'>Your Profile</a></li>
      <li><a class='nav-link' routerLink='/skillmatrix/admin'>Admin (will not be visible for everyone)</a></li>
      <!--only visible with admin account-->
    </ul>
  </nav>
</section>

<router-outlet></router-outlet>

<form>
  <div>
    <button mat-fab color="warn" (click)='backClicked()'>back</button>
  </div>
</form>