<app-submenu pageTitle="Your Profile"></app-submenu>
<div class="container">
    <mat-card>
        <div class="row">
            <div class="col-sm">
                <img [src]="user.imageUrl" class="rounded-full img-fluid" width="70%">
            </div>
            <div class="col-sm">
                <mat-card class="innerCard">
                    <h2>{{user.firstName}} {{user.surName}}</h2>
                    <h3>{{user.jobTitle}}</h3>
                    <div>
                        {{user.team}} <br>
                        {{user.department}} <br>
                        {{user.location}}
                    </div>
                </mat-card>
                <mat-card class="innerCard">
                    <div>
                        {{user.email}} <br>
                        {{user.telephone}}
                    </div>
                </mat-card>
            </div>
            <div class="col-sm">
                <button mat-icon-button color="default" aria-label="Update User" (click)="goToAddUser(user.id)">
                    <mat-icon>edit</mat-icon>
                  </button>
            </div>
        </div>
    </mat-card>
    <mat-card>
        <div class="row">
            <div class="col-sm">
                <mat-card class="innerCard">
                    <h2>Skills</h2>
                </mat-card>
                <mat-card class="innerCard">
                    <li *ngFor="let skill of user.skills" style="list-style-type: none;">
                        <p class="listElement">{{skill.skillName}} : 
                            <a *ngIf="skill.rating == 1; else elseBlock">Beginner</a>
                            <ng-template #elseBlock><a *ngIf="skill.rating == 2; else elseBlock2">Intermediate</a>
                            </ng-template><ng-template #elseBlock2><a *ngIf="skill.rating == 3; else elseBlock3">Advanced</a>
                            </ng-template><ng-template #elseBlock3>Error</ng-template>
                        </p>
                    </li>
                </mat-card>
            </div>
            <div class="col-sm">
                <mat-card class="innerCard">
                    <h2>Languages</h2>
                </mat-card>
                <mat-card class="innerCard">
                    <li *ngFor="let language of user.languages" style="list-style-type: none;">
                        <p class="listElement">{{language.language}} : 
                            <a *ngIf="language.rating == 1; else elseBlock">Beginner</a>
                            <ng-template #elseBlock><a *ngIf="language.rating == 2; else elseBlock2">Intermediate</a>
                            </ng-template><ng-template #elseBlock2><a *ngIf="language.rating == 3; else elseBlock3">Advanced</a>
                            </ng-template><ng-template #elseBlock3>Error</ng-template>
                        </p>
                    </li>
                </mat-card>
            </div>
        </div>
    </mat-card>
</div>
    