<app-submenu pageTitle="Your Profile"></app-submenu>

<div class="container">
    <div class="row">
        <div class="col-10 offset-1">
            <div class="row">
                <div class="col-lg-4 col-sm-10 offset-sm-1">
                    <mat-card>
                        <div class="row">
                            <img [src]="https://w7.pngwing.com/pngs/340/946/png-transparent-avatar-user-computer-icons-software-developer-avatar-child-face-heroes-thumbnail.png" class="rounded-full img-fluid">
                        </div>
                    </mat-card>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <mat-card>
                        <div class="row">
                            <form>
                                <div class="row">
                                    <mat-form-field appearance="fill">
                                        <mat-label>First Name</mat-label>
                                        <p>{{user.firstName}}</p>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill">
                                        <mat-label>Surname</mat-label>
                                        <p>{{user.surName}}</p>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill">
                                        <mat-label>Job Title</mat-label>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill">
                                        <mat-label>Team</mat-label>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill">
                                        <mat-label>Department</mat-label>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill">
                                        <mat-label>Location</mat-label>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill">
                                        <mat-label>Email</mat-label>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill">
                                        <mat-label>Phone</mat-label>
                                    </mat-form-field>
                                </div>
                            </form>
                        </div>
                    </mat-card>
                </div>

                <div class="col 12">
                    <mat-card>

                        <form>
                            <div class="row">
                                <div class="col-10">
                                    <div formArrayName="languages" *ngFor="let language of user.languages; let i=index">
                                        
                                    </div>
                                </div>
                            </div>
                        </form>
                    </mat-card>
                    <div class="col 12">
                        <mat-card>
                            <form>
                                <div class="row">
                                    <div class="col-10">
                                        <div formArrayName="skills" *ngFor="let skill of user.skills; let i=index">
    
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>