<mat-toolbar color="primary" class="mat-elevation-z8 mat-elevation-z8 toolbar">
  <mat-toolbar-row>
    <div class="col-sm">
      <div class='adminOnly' *ngIf="isLoggedIn">
        <button mat-button color="basic" aria-label="Example icon button with a home icon"
          (click)="goTo('skillmatrix/skills')">
          Skills
        </button>
        <button mat-button color="basic" aria-label="Example icon button with a home icon"
          (click)="goTo('skillmatrix/languages')">
          Languages
        </button>
        <button mat-button color="basic" (click)="goTo('skillmatrix/categories')">
          Categories
        </button>
      </div>
    </div>
    <div class="col-sm d-flex justify-content-center">
      <h1>Skill Matrix</h1>
    </div>
    <div class="col-sm d-flex justify-content-end">
      <button mat-button color="basic" (click)="goToHomePage()">Home</button>
      <button *ngIf="isLoggedIn" mat-icon-button [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu">
        <mat-icon>manage_accounts</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="goTo('skillmatrix/users/profile')">
          <mat-icon>account_circle</mat-icon>
          <span>My Profile</span>
        </button>
        <div mat-menu-item>
          <mat-slide-toggle (change)="onDarkModeSwitched($event)">
            <mat-icon>light_mode</mat-icon>
          </mat-slide-toggle>
        </div>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>