table {
  width: 100%;
}

.mat-form-field {
font-size: 14px;
width: 100%;
}

.container {
margin-top: 80px;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: rgb(75, 74, 74);
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #777777;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
 .image {
  justify-content: center;
 }

 // chips colors
$green-chip:#339b4d	;
$yellow-chip:#a8a500;
$red-chip:#FF5252;

 mat-chip {
   &.intermediate {
  background-color: $yellow-chip;
 }
   &.advanced {
  background-color: $green-chip;
 }
}

mat-chip-list {
  display: flex;
  float: left;
  margin: 3px;
}

mat-chip {
  font-size: 0.8em;
}
