<app-submenu pageTitle="Member List"></app-submenu>
<div class="container">
  <app-add-button goToPath='skillmatrix/members/addUser'></app-add-button>
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container [matColumnDef]="column.id" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef> {{column.name}} </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="isChip(column.columnStyle); else elseBlock">

          <ng-container *ngIf="isSkills(column.id)">
            <mat-chip-list aria-label="Skills" *ngFor="let item of  GetTopThreeSkills(element[column.id])">
              <mat-chip [ngClass]="getRatingColor(item.rating)">{{item.skill}}</mat-chip>
            </mat-chip-list>
          </ng-container>

          <ng-container *ngIf="isLanguages(column.id)">
            <mat-chip-list aria-label="Languages" *ngFor="let item of  GetTopThreeLanguages(element[column.id])">
              <mat-chip [ngClass]="getRatingColor(item.rating)">{{item.language}}</mat-chip>
            </mat-chip-list>
          </ng-container>

        </ng-container>


        <ng-template #elseBlock>{{element[column.id]}}</ng-template>
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let user" [attr.colspan]="columnsToDisplay.length">
        <div class="example-element-detail" [@detailExpand]="user == expandedElement ? 'expanded' : 'collapsed'">
          <div class="example-element-diagram">
            <div class="example-element-symbol">
              <img src="{{user.imageUrl}}" width=75>
            </div>
          </div>

          <div class="example-element-description">
            {{user.firstName}} {{ user.surName}}
            <br>
            <div class="example-element-position"> languages: {{user.language}} </div>
            <br>
            <div class="example-element-position"> email{{user.email}} </div>

          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>

</div>