table {
  width: 100%;
}

h2 {
  margin: 0;
}

.profile-image {
  width: 100px;
  height:100px;
  padding: 0;
  margin: 5px;
}

.profile-image  img {
width: 100%;
height: 100%;
  border-radius: 50%;

}

.mat-form-field {
font-size: 14px;
width: 100%;
}

.container {
margin-top: 80px;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: rgb(75, 74, 74);
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #777777;
}

.detail-card {
  background-color: #353535;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}



