<app-submenu pageTitle="Categories"></app-submenu>
<div class="container">
<div class="searchAddThing">
  <app-add-button [goToPath]='there'></app-add-button>

<mat-form-field appearance="standard" class="searchField">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 bigTable" class="dyeableContainer">
   <div class="row">
    <ng-container matColumnDef="name" class="nameColumn">
      <th mat-header-cell *matHeaderCellDef > Category </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container class="buttonsColumn" matColumnDef="buttons">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" aria-label="Go to edit screen" (click)="goToEdit(element.id)"><mat-icon>edit</mat-icon></button>
         <button mat-icon-button color="warn" aria-label="Delete Skill" (click)="deleteCategory(element.id)"><mat-icon>clear</mat-icon></button>
        </td>
    </ng-container>
   </div>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>
</div>

