/* You can add global styles to this file, and also import other style files */
//@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

@import '~@angular/material/theming'; //wow ... such wow
@include mat-core();

$candy-app-primary: mat-palette($mat-deep-purple);
$candy-app-accent:  mat-palette($mat-yellow);
$candy-app-warn:    mat-palette($mat-red);

$candy-app-theme: mat-dark-theme(
    $candy-app-primary, $candy-app-accent, $candy-app-warn);

@include angular-material-theme($candy-app-theme);

html, body { height: 100%; background-color:#343434}

body {  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

