<!-- <div class='container'>
    <div class="d-flex justify-content-center">
        <form formGroupName="skillForm">
            <mat-card>
                <mat-form-field appearance="fill">
                    <mat-label>Skill Name</mat-label>
                    <input matInput placeholder="Ex. C#" formControlName="skillName" required>
                    <mat-error *ngIf="skillForm.controls">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </mat-card>

        </form>
    </div>
</div> -->